{{> jumbotron}}
<div class="container">
    {{#each items}}
    <p>Job Title: {{title}}</p>
    <p>Company: {{company}}</p>
    <a href='https://indeed.com/{{link}}' target='_blank'>View Posting Here</a>
    <a href='/notes/{{_id}}' class="btn btn-primary notes" data-id="{{_id}}">View Details</a>
    <hr>
    {{/each}}
</div>

<script>
    {{!-- var id;
    $(".notes").on('click', function (event) {
        id = $(this).attr("data-id");
        $.get("/notes/"+id,function(data){
            location.href('/notes')
        })
    }) --}}

    $("#addNoteForm").on('submit', function (event) {
        event.preventDefault();
        var text = $("#addText").val();
        var body = { id: id, text: text };
        $.post("/add", body, function (data) {
            console.log(data)
        })
    })
</script>