{{> jumbotron}}
<div class="container">
    {{#each items}}
    <p>Job Title: {{title}}</p>
    <p>Company: {{company}}</p>
    <a href='https://indeed.com/{{link}}' target='_blank'>View Posting Here</a>
    <button type="button" class="btn btn-primary notes" data-toggle="modal" data-target="#modelId" data-id="{{_id}}">
        Notes
    </button>
    <hr>
    {{/each}}
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="addNoteForm">
                <div class="form-group">
                    <label for="addNote">Add Text</label>
                    <textarea class="form-control" name="text" id="addText" rows="3" required></textarea>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
            <div id="allNotes">
                <h3>All Current Notes</h3>
                {{#each notes}}
                <p>Date Written:{{dateCreated}}</p>
                <p>Text: {{text}}</p>
                <button type="button" class="btn btn-danger" data-id="{{_id}}">
                    Delete
                </button>
                <hr>
                {{/each}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    var id;
    $(".notes").on('click', function (event) {
        id = $(this).attr("data-id");
        $.get("/notes",function(data){
            $("#allNotes").html(data);
        })
    })

    $("#addNoteForm").on('submit', function (event) {
        event.preventDefault();
        var text = $("#addText").val();
        var body = { id: id, text: text };
        $.post("/add", body, function (data) {
            console.log(data)
        })
    })
</script>